body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar {
    background: #00796b;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;}